# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      projectVersion:
        description: 'Version'
        required: true
    
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.16.1]
        
    steps:
      - uses: actions/checkout@v2
      
      - name: Add Sonar-Scanner
        uses: Warchant/setup-sonar-scanner@v3
      
      - name: Cache node modules
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
            
      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          
      - name: Install dependencies
        run: |
          npm install
          
      - name: npm run build CI
        run: |
          npm run build:ci
          
      - name: SonarQube Scan
        uses: sijomc/sonarscan-action@master
        with:
          host: ${{ secrets.SONARQUBE_HOST }}
          login: ${{ secrets.SONARQUBE_TOKEN }}
          scannerOptions: ${{ secrets.SCANNER_OPTIONS }}
          exclusions: dist/**/*.*,node_modules/**/*.*
          projectKey: "angular-test-app-github-actions"
          projectName: "angular-test-app-github-actions"
          projectVersion: ${{ github.event.inputs.projectVersion }}
          
      - name: SonarQube Quality Gate check
        uses: sonarsource/sonarqube-quality-gate-action@master
        # Force to fail step after specific time
        timeout-minutes: 5
        env:
         SONAR_TOKEN: ${{ secrets.SONARQUBE_TOKEN }}
